---
# Import dependecies

In [1]:
import pandas as pd

---
# Work with data

## Preprocess data

In [2]:
df = pd.read_excel("data/train.xlsx", skiprows=5)

In [3]:
df.shape

(314, 148)

In [9]:
df.head(3)

,год,неделя,Начало нед,"Продажи, рубли","Продажи, упаковки","Продажи, рубли.1","раствор 0.01 % 150 мл N1, руб","раствор 0.01 % 50 мл N1, руб","раствор 0.01 % 500 мл N1, руб","раствор 0.01 % 150 мл N1, упаковки",...,Итого.11,"ТВ, trp\n(Ж 30-60 ВС).12","ТВ, охват 5+\n(Ж 30-60 ВС).12","ТВ, рубли.12","Диджитал, руб.12","ТВ спонсорство, рубли.12","OOH, рубли.12","Радио, рубли.13",Итого.12,Unnamed: 147
0,2019.0,1,2018-12-31,4.153557e+07,114621.15,0.0,0.0,0.0,0.0,0.0,...,1.183425e+07,207.903106,15.3615,9085528.010323,0.0,0.0,0.0,0.0,9.085528e+06,NaN
1,NaN,2,2019-01-07,5.122229e+07,141523.20,0.0,0.0,0.0,0.0,0.0,...,1.399653e+07,317.467542,25.5255,10599782.67871,0.0,0.0,0.0,0.0,1.059978e+07,NaN
2,NaN,3,2019-01-14,5.712735e+07,157926.30,0.0,0.0,0.0,0.0,0.0,...,1.146629e+07,192.816682,13.9125,10599782.67871,0.0,0.0,0.0,0.0,1.059978e+07,NaN

## Split on train/test data sets

In [28]:
df_train = df.iloc[:244]
df_submission = df.iloc[244:]

## Save data

In [29]:
df_train.to_csv('data/df_train.csv', index=False)
df_submission.to_csv('data/df_submission.csv', index=False)

---
# Model train

In [30]:
import pandas as pd

# Load the dataset into a DataFrame
data = df_train

# Get the non-numerical columns
non_numerical_columns = data.select_dtypes(exclude=['number']).columns.tolist()

# Output the non-numerical column names
print("Non-numerical columns:")
non_numeric_features = []

for col in non_numerical_columns:
    non_numeric_features.append(col)

non_numeric_features

Non-numerical columns:

['Начало нед',
 '(1)\nТВ, trp\n(Ж 30-60 ВС)',
 '(1)\nТВ, рубли',
 '(3)\nТВ, рубли',
 '(тотал)\nТВ, рубли',
 'ТВ, рубли.1',
 'ТВ Рег, рубли',
 'ТВ, trp\n(Ж 30-60 ВС).3',
 'ТВ, trp\n(Ж 30-60 ВС).5',
 'ТВ, рубли.5',
 'ТВ, рубли.6',
 'ТВ, рубли.8',
 'ТВ, рубли.11',
 'ТВ, рубли.12']

In [33]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error


# Load the dataset
data = df_train
# Split features and target variable
X = data.drop(non_numeric_features, axis=1).drop('Продажи, рубли', axis=1)
y = data['Продажи, рубли']

# X = X.fillna(0)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions on the test set and evaluate the model using MAPE
y_pred = rf_model.predict(X_test)
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f'Mean Absolute Percentage Error: {mape}')

Mean Absolute Percentage Error: 0.03890101026918674

---
# Create submission

## Load data

In [35]:
df_submission = pd.read_csv('data/df_submission.csv')
df_submission.head(3)

,год,неделя,Начало нед,"Продажи, рубли","Продажи, упаковки","Продажи, рубли.1","раствор 0.01 % 150 мл N1, руб","раствор 0.01 % 50 мл N1, руб","раствор 0.01 % 500 мл N1, руб","раствор 0.01 % 150 мл N1, упаковки",...,Итого.11,"ТВ, trp\n(Ж 30-60 ВС).12","ТВ, охват 5+\n(Ж 30-60 ВС).12","ТВ, рубли.12","Диджитал, руб.12","ТВ спонсорство, рубли.12","OOH, рубли.12","Радио, рубли.13",Итого.12,Unnamed: 147
0,NaN,36,2023-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,37,2023-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,38,2023-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Predict data

In [39]:
df_submission['Продажи, рубли'] = rf_model.predict(df_submission.drop(non_numeric_features, axis=1).drop('Продажи, рубли', axis=1))

In [42]:
df_submission = df_submission[['Начало нед', 'Продажи, рубли']]
df_submission.rename(columns={'Начало нед': 'week', 'Продажи, рубли': 'revenue'}, inplace=True)
df_submission.head(5)

         week       revenue
0  2023-09-04  5.986805e+07
1  2023-09-11  5.986805e+07
2  2023-09-18  5.986805e+07
3  2023-09-25  5.986805e+07
4  2023-10-02  5.986805e+07

# Save data

In [ ]:
df_train.to_csv('data/submission.csv', index=False)